@import "compass";

$mw:1200px;

$blue : #5382d9;

$blueH : darken(#5382d9,10%);

$grey : #7c7c7c;

$greyH: darken(#494949,10%);

$greyA: #626262;

$greyL: #F2F2F2;

$greyL2: darken(#F2F2F2,20%);

$greyL2H: darken($greyL2,10%);

$greyD:#737373;

$greyDH:darken(#737373,10%);