@import "compass/reset";
@import "compass";
@import "compass/css3";
@import "variables";
@import "mixin";
/* GENERAL STYLE */
body{
	background-color: $greyL2;
	color:$grey;
	font-family: "Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
	font-size: 16px;
	line-height: 1.5;
	-webkit-font-smoothing:antialiased;
	overflow-y:hidden;

}
.wrapper{
	width:100%;
	//padding:1em 1em 0.5em 1em;
	overflow:hidden;
	margin: auto;
	margin-bottom: 1em;
	box-sizing:border-box;
	&:after{
		@include clear();
	}
}
h1,h2,h3,h4,h5,h6{
	font-weight: 700;
	color:$blue;
	margin: 0 0 0.5em 0;
	line-height: 1.1em;
	text-align: center;

}
h1{
	font-size: 3em;
}h2{
	font-size: 2.5em;
}h3{
	font-size: 2em;
}h4{
	font-size: 1.8em;
}h5{
	font-size: 1.5em;
}h6{
	font-size: 1.2em;
}
a{
	text-decoration: none;
	font-weight: 500;
	color:$blue;
	@include single-transition(all,0.5s,ease);
	&:hover,&:focus{
		color:$blueH;
	}
}
.informations{
	background-color:rgba(20,100,30,0.2);
	padding:1em 0.5em;
	border:1px solid lighten(yellow,10%);
	color:yellow;
	span{
		display:block;
	}
}
.error{
	background-color:rgba(250,50,30,0.2);
	padding:1em 0.5em;
	border:1px solid lighten(red,10%);
	color:red;
	span{
		display:block;
	}
}
p{
	text-align: justify;
	margin-bottom: 1em;
}
ul{
	list-style-type: none;
}
.lang{
	@include horizontal-list();
	height:24px;
	text-align: center;
	ul{
		height:100%;
		display:inline-block;

	}
}
input,textarea,select,label{
	width:100%;
	display:inline-block;
}
input,textarea,select{
	width:100%;
	display:inline-block;
	margin-bottom: 1em;
}
input{
	background-color: #FFF;
	border:2px solid $greyL2;
	@include border-radius(0.5em);
	color:black;
	font-size: 15px;
	text-align: left;
	min-height:30px;
	margin:0.2em 0 1em 0;
	outline: none;
	padding:0.5em;
	-webkit-appearance: none;
	box-sizing:border-box;
//	min-width: 100px;

&:hover{
	border:2px solid $greyL2H;

}
&:focus{
	border:2px solid $blue;
	-webkit-appearance: none;
}

}
input[type="submit"]{
	background-color: $blue;
	border:none;
	cursor:pointer;
	text-align: center;
	color:white;
	min-width: 150px;
	@include single-transition(all,0.5s,ease);
	outline:none;
	padding:0.5em 0;
	&:hover,&:focus{
		background-color: $blueH;
	}
}
input[type=radio]{
	width:30px;
	&:checked{
		background-image: image-url('true.png');
		background-size: contain;
		background-repeat: no-repeat;	
		border:1px dotted green;
		&:hover,&:focus{
			border:1px solid green;
		}
	}
}
button{
	@extend input[type="submit"];
	color:$greyD;
	padding:0.5em 2em;
	min-width: 100px;
	font-size: 15px;
	@include border-radius(0.5em);
	margin:0em 0 1em 0;
	background-color: $greyL2;
	&:hover,&:focus{
		background-color: $greyD;
		color:#FFF;
	}
}
textarea{
	@extend input;
	text-align: left;
}
select {
	//margin-right:1em;
	color:$grey;
	background: transparent;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 2px solid $greyL2;
	@include border-radius(0.5em);
	height: 34px;
	outline:0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../img/arrow.png) no-repeat 96% center #FFF;
}
select:hover{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline:0;
	border: 2px solid $greyL2H;
}
select:focus{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline:0;
	border: 2px solid $blue;
}
::-webkit-input-placeholder {
	color: $grey;

}

:-moz-placeholder { 
	color: $grey;  
}

::-moz-placeholder { 
	color: $grey;  
}

:-ms-input-placeholder {  
	color: $grey;  
}
fieldset{
	padding:1em 0.5em;
	border:1px solid $greyL2;
}
/*END GENERAL STYLE*/
.container{
	background-color: #FFF;
	max-width:$mw;
	@include c( 12 );
	margin: auto;
	@include single-box-shadow(rgba(0,0,0,0.2),0,0,2em,2px);
	&:after{
		@include clear();
	}
	padding-bottom: 5em;
}
.logo{
	display:inline-block;
	text-indent: -9999999px;
	position:absolute;
	a{
		color:white;
	}

}
.banner{
	display:block;
	width:100%;
	min-height: 300px;
	background-color: $blue;
	color:#FFF;
	position:relative;
	margin-bottom: 1em;
}
.mainNav{
	position:absolute;
	bottom:0;
	display:block;
	width:100%;
	height:50px;
	background-color:$greyL;
	color:#FFF;
	overflow: hidden;

	a{
		color:#FFF;
	}
	ul{
		@include horizontal-list();
		max-width: $mw;
		box-sizing:border-box;
		height:50px;

		li{
			background-color: $greyD;
			margin-right: 1em;
			//min-width: 150px;
			float:right;
			@include single-transition(all,0.5s,ease);

			&:hover,&:focus,&:active{
				background-color: $greyDH;	
			}
			a{
				display:inline-block;
				width:100%;
				box-sizing:border-box;
				text-align: center;
				padding:1em;
				height:100%;
			}
		}
		li:first-child{
			margin-right: 0;
			
		}
	}
}
.main{
	@include c( 12 );
	margin: auto;
	padding:0 1em;

}

/* INDEX */

.why{
	@include cfl( 12 );
	margin-bottom: 1em;

}
.help{
	@include cl( 12 );
	margin-bottom: 1em;
}
.intro{
	border-bottom: 1px solid $greyL2;
}
.icoRecherche{
	text-align: center;

	ul{
		display:inline-block;
		width:auto;
		
		li{
			display:block;
			height:auto;
			display:inline-block;
			margin-left: 3em;
			position:relative;

			&:after{
				@include clear();
			}
			&:hover span,&:focus span{
				color:$blueH;
			}
			&:hover .typeRecherche,&:hover .typeRecherche{
				background-color:$greyL2H;
			}
			.link{
				display:inline-block;
				width:100%;
				a{
					position:absolute;
					top:0;
					display:block;
					width:100%;
					height:100%;
					text-indent: -9999999px;

				}

			}
			.typeRecherche{
				margin:1em;
				margin-bottom: 0;
				height:110px;
				width:100px;
				background-color: $greyL2;
				@include border-radius(50%);
				@include single-transition(all,0.5s,ease);

				overflow:hidden;

			}
			span{
				font-weight: bold;
				color:$blue;
			}

		}
		li:first-child{
			margin-right: 3em;
			margin-left: 0;
		}
	}
	

}
#rapide{
	@include cfl( 12 );
	
}
#gmap{
	height:300px;
	@include cfl( 12 );
	display:block;
	border:4px solid $greyL2;
	box-sizing:border-box;
	@include border-radius(0.5em);
}
.content{
	@include c( 12 );
	text-align: center;
	span{
		
		
	}
}
.type{
	display:block;
	text-align: center;
	@include c( 12 );
	position:relative;	
	//height:50px;
	margin-bottom: 1em;
	&:after{
		@include clear();
	}
	input[type=radio]:checked + label{
		background-color: $greyDH;
	}

	label{
		box-sizing:border-box;
		display:inline-block;
		width:100%;
		height:50px;
		color:#FFF;
		background-color: $greyD;
		padding:0.5em 0;
		text-align: center;
		vertical-align: center ;
		font-weight: bold;
		//float:left;
		margin: auto;	
		cursor:pointer;
		@include single-transition(all,0.5s,ease);
		&:hover,&:focus{
			background-color: $greyDH;
		}
	}
	label:first-child{
		margin-left: 0;
	}

	input{
		position:absolute;
		text-indent: -999999px;
		display:none;
	}
	
}
.mapInfo{
	@include c( 12 );
	

	input,label{

	}
	input{
		
	}
}
.classique{
	margin-bottom: 1em;

}

/*END INDEX*/

/* FOOTER */

footer{
	background-color: $grey; 
	color:white;
	max-width:$mw;
	@include c( 12 );
	margin: auto;

	.foot{
		
	}
}
/* END FOOTER */