html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*l * 100 / 1024*/
/*l * 100 / 1024*/
/* GENERAL STYLE */
body {
  background-color: #bfbfbf;
  color: #7c7c7c;
  font-family: "Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-y: hidden;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  margin: auto;
  margin-bottom: 1em;
  box-sizing: border-box;
}
.wrapper:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #5382d9;
  margin: 0 0 0.5em 0;
  line-height: 1.1em;
  text-align: center;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.8em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.2em;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #5382d9;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
a:hover, a:focus {
  color: #2d65cc;
}

p {
  text-align: justify;
  margin-bottom: 1em;
}

ul {
  list-style-type: none;
}

.lang {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  height: 24px;
  text-align: center;
}
.lang li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
.lang li:first-child, .lang li.first {
  padding-left: 0;
}
.lang li:last-child {
  padding-right: 0;
}
.lang li.last {
  padding-right: 0;
}
.lang ul {
  height: 100%;
  display: inline-block;
}

input, textarea, textarea, select, label {
  width: 100%;
  display: inline-block;
}

input, textarea, textarea, select {
  width: 100%;
  display: inline-block;
  margin-bottom: 1em;
}

input, textarea {
  background-color: #FFF;
  border: 2px solid #bfbfbf;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  color: black;
  font-size: 15px;
  text-align: left;
  min-height: 30px;
  margin: 0.2em 0 1em 0;
  outline: none;
  padding: 0.5em;
  -webkit-appearance: none;
  box-sizing: border-box;
  min-width: 100px;
}
input:hover, textarea:hover {
  border: 2px solid #a5a5a5;
}
input:focus, textarea:focus {
  border: 2px solid #5382d9;
  -webkit-appearance: none;
}

input[type="submit"], button, textarea[type="submit"] {
  background-color: #5382d9;
  border: none;
  cursor: pointer;
  text-align: center;
  color: white;
  min-width: 150px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  outline: none;
  padding: 0.5em 0;
}
input[type="submit"]:hover, button:hover, textarea[type="submit"]:hover, input[type="submit"]:focus, button:focus, textarea[type="submit"]:focus {
  background-color: #2d65cc;
}

button {
  color: #737373;
  padding: 0.5em 2em;
  min-width: 100px;
  font-size: 15px;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  margin: 0em 0 1em 0;
  background-color: #bfbfbf;
}
button:hover, button:focus {
  background-color: #737373;
  color: #FFF;
}

textarea {
  text-align: left;
}

select {
  color: #7c7c7c;
  background: transparent;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 2px solid #bfbfbf;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  height: 34px;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../img/arrow.png) no-repeat 96% center white;
}

select:hover {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 2px solid #a5a5a5;
}

select:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 2px solid #5382d9;
}

::-webkit-input-placeholder {
  color: #7c7c7c;
}

:-moz-placeholder {
  color: #7c7c7c;
}

::-moz-placeholder {
  color: #7c7c7c;
}

:-ms-input-placeholder {
  color: #7c7c7c;
}

fieldset {
  padding: 1em 0.5em;
  border: 1px solid #bfbfbf;
}

/*END GENERAL STYLE*/
.container {
  background-color: #FFF;
  max-width: 1200px;
  width: 99%;
  margin-left: 0;
  display: block;
  float: none;
  margin: auto;
  box-sizing: border-box;
  margin: auto;
  -webkit-box-shadow: 0 0 2em 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2em 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2em 2px rgba(0, 0, 0, 0.2);
  padding-bottom: 5em;
}
.container:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.logo {
  display: inline-block;
  text-indent: -9999999px;
  position: absolute;
}
.logo a {
  color: white;
}

.banner {
  display: block;
  width: 100%;
  min-height: 300px;
  background-color: #5382d9;
  color: #FFF;
  position: relative;
  margin-bottom: 1em;
}

.mainNav {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 50px;
  background-color: #f2f2f2;
  color: #FFF;
  overflow: hidden;
}
.mainNav a {
  color: #FFF;
}
.mainNav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  max-width: 1200px;
  box-sizing: border-box;
  height: 50px;
}
.mainNav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
.mainNav ul li:first-child, .mainNav ul li.first {
  padding-left: 0;
}
.mainNav ul li:last-child {
  padding-right: 0;
}
.mainNav ul li.last {
  padding-right: 0;
}
.mainNav ul li {
  background-color: #737373;
  margin-right: 1em;
  float: right;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.mainNav ul li:hover, .mainNav ul li:focus, .mainNav ul li:active {
  background-color: #5a5a5a;
}
.mainNav ul li a {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 1em;
  height: 100%;
}
.mainNav ul li:first-child {
  margin-right: 0;
}

.main {
  width: 99%;
  margin-left: 0;
  display: block;
  float: none;
  margin: auto;
  box-sizing: border-box;
  margin: auto;
  padding: 0 1em;
}

/* INDEX */
.why {
  width: 99%;
  float: left;
  display: block;
  box-sizing: border-box;
  margin-bottom: 1em;
}

.help {
  width: 99%;
  margin-left: 2%;
  float: left;
  display: block;
  box-sizing: border-box;
  margin-bottom: 1em;
}

.intro {
  border-bottom: 1px solid #bfbfbf;
}

.icoRecherche {
  text-align: center;
}
.icoRecherche ul {
  display: inline-block;
  width: auto;
}
.icoRecherche ul li {
  display: block;
  height: auto;
  display: inline-block;
  margin-left: 3em;
  position: relative;
}
.icoRecherche ul li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.icoRecherche ul li:hover span, .icoRecherche ul li:focus span {
  color: #2d65cc;
}
.icoRecherche ul li:hover .typeRecherche, .icoRecherche ul li:hover .typeRecherche {
  background-color: #a5a5a5;
}
.icoRecherche ul li .link {
  display: inline-block;
  width: 100%;
}
.icoRecherche ul li .link a {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999999px;
}
.icoRecherche ul li .typeRecherche {
  margin: 1em;
  margin-bottom: 0;
  height: 110px;
  width: 100px;
  background-color: #bfbfbf;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}
.icoRecherche ul li span {
  font-weight: bold;
  color: #5382d9;
}
.icoRecherche ul li:first-child {
  margin-right: 3em;
  margin-left: 0;
}

#rapide {
  width: 99%;
  float: left;
  display: block;
  box-sizing: border-box;
}

#gmap {
  height: 300px;
  width: 99%;
  float: left;
  display: block;
  box-sizing: border-box;
  display: block;
  border: 4px solid #bfbfbf;
  box-sizing: border-box;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
}

.content {
  width: 99%;
  margin-left: 0;
  display: block;
  float: none;
  margin: auto;
  box-sizing: border-box;
  text-align: center;
}

.type {
  display: block;
  text-align: center;
  width: 99%;
  margin-left: 0;
  display: block;
  float: none;
  margin: auto;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 1em;
}
.type:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.type input[type=radio]:checked + label, .type textarea[type=radio]:checked + label {
  background-color: #5a5a5a;
}
.type label {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 50px;
  color: #FFF;
  background-color: #737373;
  padding: 0.5em 0;
  text-align: center;
  vertical-align: center;
  font-weight: bold;
  margin: auto;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.type label:hover, .type label:focus {
  background-color: #5a5a5a;
}
.type label:first-child {
  margin-left: 0;
}
.type input, .type textarea {
  position: absolute;
  text-indent: -999999px;
  display: none;
}

.mapInfo {
  width: 99%;
  margin-left: 0;
  display: block;
  float: none;
  margin: auto;
  box-sizing: border-box;
}

.classique {
  margin-bottom: 1em;
}

/*END INDEX*/
/* FOOTER */
footer {
  background-color: #7c7c7c;
  color: white;
  max-width: 1200px;
  width: 99%;
  margin-left: 0;
  display: block;
  float: none;
  margin: auto;
  box-sizing: border-box;
  margin: auto;
}

/* END FOOTER */
